<app-header></app-header>

<div class="content" *ngFor="let question of questions" >
    <h1>السؤال الأول</h1>
    <p>{{question.content}}</p>

    <div class="question" *ngFor="let ans of question.answers">
        <input type="radio" name="response" id="">
        <label for="">{{ans.content}}</label>
    </div>

    <div class="bottom">
        
           
            <img src="../../../assets/images/ic_answer_correct.svg" alt="">
            <img src="../../../assets/images/ic_star_empty.svg" alt="">
            <img src="../../../assets/images/ic_reference.svg" alt="">
           

           
        
    </div>
</div>

<button type="submit" routerLink="/quiz-end">انه الإختبار الآن</button>

<app-footer></app-footer>