.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 400px;
    margin-right: 100px;
    margin-top: 20px;
    gap: 2rem;
}

.right h3 {
    font-size: 25px;
    font-weight: 600;
}

.right p {
    font-size: 17px;
    font-weight: 500;
}

.right button {
    width: 370px;
    height: 50px;
    margin-top: 10px;
    color: white;
    background-color: #6F2877;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid white;
}

.left {
    width: 50%;
}

.left img {
    width: 350px;
    margin-right: 100px;
}

.bottom {
    margin-top: 100px;
}

.bottom h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
}

.bottom .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.bottom .buttons button {
    margin: 1rem;
    width: 120px;
    height: 40px;
    border: 1px solid white;
    color: white;
}

.bottom .buttons .master {
    background-color: #6F2877;
    transition: 0.3s;
}

.master:hover {
    scale: 1.1;
}

.graduate {
    background-color: rgb(82, 82, 245);
    transition: 0.3s;
}

.graduate:hover {
    scale: 1.1;
}

.specialization {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 10px;
    width: fit-content;
    margin-right: 250px;

}

.spec {
    width: fit-content;
    margin: 1rem;
}

.selected {
    border-bottom: 3px solid #6F2877;
}

.specialization img {
    width: 80px;
    border-radius: 50%;
}

.download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    text-align: center;
    margin-top: 150px;
    height: 170px;
}

.download img {
    width: 350px;
    margin-right: 120px;
}

.download div {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.download .buttons {
    display: flex;
    flex-direction: row;
    position: relative;
}

.download button {
    width: 150px;
    height: 50px;
    margin: 1rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    background-color: black;
    color: white;

}

.download button i {
    font-size: 20px;
    margin-right: 5px;
}

.download button img {
    width: 20px;
    position: absolute;
    right: 15px;
    top: 37px;
}

.download p {
    font-size: 18px;
    width: 250px;
    text-align: center;
    font-weight: 500;
    margin-left: 50px;
    margin-top: 20px;
}

.download button span {
    font-weight: 500;
    font-size: 12px;
}

@media (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .right {
        display: none;
    }

    .left {
        text-align: center;
    }
}