<div class="content">

    <div class="return">
        <i class="fa-solid fa-arrow-right"></i>
        <h5>العودة</h5>
    </div>

    <h3>اختبار الشبكات</h3>

    <div class="marks">
        <p>50 سؤال</p>
        <p>علامة النجاح 100</p>
    </div>

    <h2>تعليمات هامة</h2>

    <div class="list">
        <ul>
            <li>ابدأ الاختبار سوف ينقلك الى صفحة السؤال</li>
            <li>لتحقق من صحة إجابتك اضغط على اشارة الصح اسفل السؤال سوف تظهر لك الاجابة صحيحة او خاطئة </li>
            <li>إشاؤة الكتاب سوف تظهر لك مرجع السؤال</li>
            <li>كما يمكنك الحصول على النتيجة في اخر الاختبار ........ بالتوفيق</li>
        </ul>
    </div>

    <button type="submit">ابدأ الاختبار</button>
</div>