<app-header></app-header>

<div class="content">


    <div class="return">
        <i class="fa-solid fa-arrow-right"></i>
        <h5>العودة</h5>
    </div>

    <div class="end">
        <h3>مبروك لقد اتممت الاختبار بنجاح</h3>
        <h3>علامتك هي : <span>30</span></h3>
    </div>
    <img src="../../../../assets/images/Imagecup.svg" alt="">

    <hr>

    <div class="correct">
        <p>عدد الأسئلة الصحيحة : </p>
        <p>عدد الأسئلة الخاطئة :</p>
    </div>

    <button type="submit">التحقق من الإجابات</button>
</div>